header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeedf2;
}

#logo {
  font-family: 'Libre Franklin', sans-serif;
  color: #c24b24;
  font-size: 20px;
  padding: 20px 24px 15px 24px;
  font-weight: bold;
}

header > .nav {
  display: flex;
  justify-content: space-around;
}

header > .nav li {
  padding: 22px 20px 20px 20px;
  color: #6f7287;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

header > .nav li:hover {
  color: #000;
}
