/* Login and Signup Page Styling */
.loginContainer {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 56px;
  font-family: 'Libre Franklin', sans-serif;
}

.loginIcon {
  color: #c24b24;
  font-size: 76px;
  font-weight: 900;
  margin-bottom: 10px;
}

.loginGetStartedText {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.loginExplanationText {
  color: #6f7287;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 36px;
}

.loginForm {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
}

.loginContainer label {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}

.loginContainer input {
  height: 48px;
  border: 1px #dbdae3 solid;
  border-radius: 2px;
  padding: 1px;
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.loginContainer input[type="text"], input[type="password"]{
  padding-left: 10px;
}

.loginContainer input[type=text]:focus, input[type="password"]:focus {
  box-shadow: 0 0 5px rgba(117, 161, 242, 1);
  border: 3px solid rgba(117, 161, 242, 1);
}

.loginContainer input[type="submit"]{
  text-align: center;
  padding: 0px 5px;
  background-color: #f05537;
  color: white;
  height: 36px;
  font-weight: 600;
  letter-spacing: .2px;
  border-radius: 4px;
  font-size: 14px;
  transition: all .4s cubic-bezier(.4,0,.3,1);
}

.loginContainer input[type="submit"]:hover {
  background-color: #bd3a20;
}

/* error handling */
.loginErrors {
  color: #e02e46;
  font-size: 13px;
  line-height: 1.2;
  padding-top: 4px;
  position: absolute;
  top: 52px;
}

.inputFieldErrorStyling{
  background-color: rgb(251, 254, 196);
  border: 2px solid red !important;
}

/* Home Page Styling */
.sliderImage {
  height: 529px;
  width: 100%;
}
